REGISTRY=docker.io
REGISTRY_NAMESPACE=admin
BACKEND_IMAGE=${REGISTRY}/${REGISTRY_NAMESPACE}/portfolio-backend
FRONTEND_IMAGE=${REGISTRY}/${REGISTRY_NAMESPACE}/portfolio-frontend
IMAGE_TAG=latest

DB_NAME=portfolio_db
DB_USER=root
DB_PASSWORD=n3u3da!
DB_HOST=mysql
DB_PORT=3306
MYSQL_ROOT_PASSWORD=n3u3da!
MYSQL_ROOT_HOST=%

